@media (min-width: 1200px) {
  .container {
    max-width: 1340px;
  }
}

html {
  font-size: 62.5%;
  color: $mine-shaft;
  font-family: $open-sans;
}

body {
  font-family: $open-sans;
  background: $white;
  font-size: 1.6rem;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $montserrat;
  color: $mine-shaft;
  font-weight: 900;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1.12em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.75em;
}

a {
  text-decoration: none;
  color: $boston-blue;

  &:visited {
    color: $boston-blue;
  }

  &:hover,
  &:focus {
    color: darken($boston-blue, 20%);
    text-decoration: none;
  }
}

p {
  line-height: 1.5;
  padding: 1rem 0;
}

ol {
  list-style: decimal;
  list-style-position: inside;
}

.base-btn {
  border: 1px solid $white;
  font-size: 2rem;
  color: $white;
  border-radius: 0;
  padding: 0.8rem 4rem;
  background: rgba($white, 0.2);

  &:visited {
    color: $white;
  }

  &:hover {
    color: $mine-shaft;
    background: $white;
  }
}

.base-btn-blue {
  border: 1px solid $white;
  font-size: 2rem;
  color: $white;
  border-radius: 5px;
  padding: 0.8rem 4rem;
  background: #007faa;

  &:visited {
    color: $white;
  }

  &:hover {
    color: $white;
    background: darken(#007faa, 10%);
  }
}

.base-btn-shiraz {
  border: 1px solid $white;
  font-size: 2rem;
  color: $white;
  border-radius: 0;
  padding: 0.8rem 4rem;
  background: $shiraz;

  &:visited {
    color: $white;
  }

  &:hover {
    color: $white;
    background: darken($shiraz, 10%);
  }
}

.hidden {
  // sass-lint:disable property-units
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.body-noscroll {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.page-content {
  padding-top: 2rem;
  padding-bottom: 10rem;
}

.copy-content {
  font-size: $base-font-size;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    color: $shiraz;
  }

  p {
    padding: 1rem 0;
  }

  hr {
    background: $dusty-gray;
    margin-bottom: 5rem;
  }
}
